
body{
    font-family: 'Nunito', sans-serif;

}

.menu ul{
    float:right;

    
}

.menu ul li{

    display:inline;
    padding: 15px;
    line-height: 80px;

}

.logo{
    float: left;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    line-height: 80px;
}
.logo span{
    color: #EC4067;
}

button{
    background-color: #EC4067;
    color: aliceblue;
}