
*{
    font-family: 'Nunito', sans-serif;
}


/* menu */
.menu{
    float:right;
    
}

.menu li{

    display:inline;
    padding: 20px;

}

/* button */
button{
    background-color: #EC4067;
    color: white;
    height: 250%;
    border: none;
}

/* Logo */
.logo{
  font-size: xx-large;
}

.logo span{
    color:#EC4067;
}

/* Home Section */

.home{
    
    margin-top: 200px;
    margin-left: 60px;
}

.home p{
    size: 20%;
}