
body{
    font-family: 'Nunito', sans-serif;

}

.menu{
    float:right;
    
}

.menu li{

    display:inline;
    padding: 15px;

}

.logo{
    float: left;
    font-size: large;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.logo span{
    color: #EC4067;
}

button{
    background-color: #EC4067;
    color: aliceblue;
}